<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Filter</display-name>
<filter>
<filter-name>MyFilter</filter-name>
<filter-class>com.nag.filter.MyFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>MyFilter</filter-name>
<servlet-name>Welcomeservlet</servlet-name>
</filter-mapping>
<servlet>
<servlet-name>Welcomeservlet</servlet-name>
<servlet-class>com.nag.Servlet.Welcomeservlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Welcomeservlet</servlet-name>
<url-pattern>/Welcomeservlet</url-pattern>
</servlet-mapping>
</web-app>